h1,
h2,
h3,
a {
  color: var(--primary);
}

h4,
span,
mat-icon {
  color: var(--bg-primary);
}

h1,
h2 {
  font-weight: 800;
  line-height: 1;
  letter-spacing: 4px;
  font-size: 34px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 34px 0;
  width: 70%;
}

h4 {
  font-size: calc(var(--view) * 1.6);;
  font-weight: 600;
}

a {
  font-size: calc(var(--view) * 1.15);;
  font-weight: 500;
  border: solid 2px var(--primary);
  border-radius: 7px;
  padding: calc(var(--view) * 0.5) calc(var(--view) * 1) calc(var(--view) * 0.5) calc(var(--view) * 1);
  max-width: fit-content;
  margin: 0 0 calc(var(--view) * 6) 0;
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
    color: var(--bg-primary);
  }
}

.mat-icon {
  width: calc(var(--view) * 2);
  height: calc(var(--view) * 2);
  font-size: calc(var(--view) * 2);
  cursor: pointer;
  z-index: 3;
}

.content{
  display: 	flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0px 80px;
}


.box-container {
  overflow: hidden;
  min-width: var(--width);
  min-height: var(--height);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  color: var(--common-color);
  background-color: var(--common-color);

  & .box-bg {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--view) * 11);
    margin-bottom: calc(var(--view) * 3);
    background-color:var(--primary);
    z-index: 2;
  }

  & .box-id {
    margin-bottom: 200px;
    position: absolute;
    color: var(--bg-primary);
    font-size: 300px;
    z-index: 3;
  }

  .flex-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  & .box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(var(--view) * 3);
    padding-right: calc(var(--view) * 2);
    margin-bottom: calc(var(--view) * 5);
    z-index: 3;

    &__next {
      gap: calc(var(--view) * 4);
      min-width: calc(var(--view) * 34.25);

      & hr {
        height: calc(var(--view) * 4);
        width: 5px;
        border: none;
        background-color: var(--common-color);
      }

      & div:last-child {
        gap: calc(var(--view) * 1.5);

        & span {
          min-width: calc(var(--view) * 3.4375);
          text-align: center;
          font-family: var(--what-teacher-want);
          font-size: calc(var(--view) * 7.35);
          font-weight: 500;
          color: var(--common-color);
          line-height: 1;
        }
      }
    }
  }

  & .box-img {
    position: absolute;
    right: 65px;
    bottom: 11.3%;
    padding: 18rem;

    & div {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
  }
}