
<app-scroll-x>
  @defer (when sections$) {
    @if(sections$ | async; as sections){
      @for (item of sections$ | async; track $index){ 
          <section class="box-container">
            <div class="box-text">
              <h1 class="animation" data-aos="fade-left" data-aos-duration="1000" > TZ </h1>
              <h2 class="animation" data-aos="fade-left" data-aos-duration="1000" >{{ item.title }}</h2>
              <h3 class="animation" data-aos="fade-left" data-aos-duration="1000" >{{ item.description }}</h3>
              <a routerLink=""> ver más </a>
            </div>
            <div [style.backgroundImage]="'url('+ item.image + ')'" class="box-img"
            ></div>
            <div>
              <div class="box-bg">
                <div class="box-id">{{ item.id }}</div>
                <mat-icon class="material-symbols-outlined previous" (click)="send(false)" matTooltip="Anterior"
                matTooltipPosition="below">chevron_left</mat-icon>
                <div class="content">
                  <div>
                    <h4> Siguiente sección </h4>
                    @if ($index < sections.length - 1) {
                      <h4>TZ {{ sections[$index + 1].title}}</h4>
                    } @else {
                      <h4>TZ {{ sections[0].title }}</h4>
                    }
                  </div>
                    <mat-icon class="material-symbols-outlined" (click)="send(true)" matTooltip="Siguiente"
                matTooltipPosition="below">chevron_right</mat-icon>
                </div>
              </div>
            </div>
        </section>
      }
    }
  }
</app-scroll-x>