 <article data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
  <div class="box">
    <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">TERRAZ</h1>
    <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="150">
      UNA EMPRESA DESARROLLADORA
      <br />
      DE LA CIUDAD DE ROSARIO
    </h2>
    <hr data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150"/>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
      <br />
      Nos enfocamos en
      <em>edificios, complejos industriales, complejos habitacionales y viviendas unifamiliares</em>.
      <br />
      <br />
      Nuestro principal distintivo es la forma que tenemos de
      <em>
        comercializar, única en el país, financiamos el 50% de todos nuestros productos hasta en 180 cuotas, en pesos y
        ajustadas por coeficiente de variación salarial.
      </em>
      <br />
      <br />
      <i>Te invitamos a conocernos</i>
    </p>
    <div>
      <app-core-button [config]="{ leyend: 'CONTACTANOS', size: '12px' }" (click)="contact()" />
    </div>
  </div>
</article>
