<article data-aos="fade-up" data-aos-duration="1000">
  <div class="box">
    <h1>TERRAZ</h1>
    <h2>
      UNA EMPRESA DESARROLLADORA
      <br />
      DE LA CIUDAD DE ROSARIO
    </h2>
    <hr />
    <p>
      <br />
      Nos enfocamos en
      <em>edificios, complejos industriales, complejos habitacionales y viviendas unifamiliares</em>.
      <br />
      <br />
      Nuestro principal distintivo es la forma que tenemos de
      <em>
        comercializar, única en el país, financiamos el 50% de todos nuestros productos hasta en 180 cuotas, en pesos y
        ajustadas por coeficiente de variación salarial.
      </em>
      <br />
      <br />
      <i>Te invitamos a conocernos</i>
    </p>
    <div>
      <app-core-button [config]="{ leyend: 'CONTACTANOS', size: '12px' }" (click)="contact()" />
    </div>
  </div>
</article>
