<div class="box">
  <div id="slide" class="box-content">
    @for (image of images; track $index) {
      <div class="item" [style.background-image]="'url(' + image + ')'"></div>
    }
  </div>
  <div class="box-btns">
    <button mat-icon-button (click)="change(false)">
      <mat-icon class="material-symbols-outlined previous">chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="change(true)">
      <mat-icon class="material-symbols-outlined">chevron_right</mat-icon>
    </button>
  </div>
</div>
