<article>
  <div></div>
  <div>
    <!-- <div class="flex">
      <button mat-icon-button>
        <mat-icon matTooltip="Anterior" matTooltipPosition="below"> chevron_left </mat-icon>
      </button>
    </div> -->
    <div>1</div>
  </div>

  <div>
    <h2>
      TZ <br />
      <em>APARTMENT</em>
    </h2>
    <p>Todos nuestros proyectos en construcción y finalizados.</p>
    <button>ver más</button>
    <div class="flex-bet">
      <div>
        <p>
          <strong>
            Siguiente sección <br />
            TZ HOME
          </strong>
        </p>
      </div>
      <hr />
      <div class="flex">
        <span>5</span>
        <button mat-icon-button>
          <mat-icon matTooltip="Siguiente" matTooltipPosition="below"> chevron_right </mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div><div [style.backgroundImage]="'url(assets/images/home/sections/1.avif)'"></div></div>
</article>
