article {
  width: 100%;
  max-width: 1600px;
  height: var(--height);
  max-height: var(--height);
  margin: 0 auto;
  padding: calc(var(--view) * 4);
  display: grid;
  gap: calc(var(--view) * 2);
}

h2,
h3,
p {
  color: var(--nordic);
}

h2 {
  line-height: 1;
  font-size: calc(var(--view) * 3.5);
  text-align: center;
  font-weight: 800;

  & em:first-child {
    padding-right: calc(var(--view) * 7.5);
  }

  & em:last-child {
    padding-left: calc(var(--view) * 7.5);
  }
}

h3,
p {
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: calc(var(--view) * 1.2);
}

p {
  font-weight: 400;
  font-size: calc(var(--view) * 1.05);
}

img {
  width: calc(var(--view) * 3);
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--view) * 1);
  align-content: center;
  // max-height: calc(100% - var(--view) * 8);
  // height: var(--height);
  // margin-top: calc(var(--view) * 4);

  &-card {
    border: var(--border);
    padding: calc(var(--view) * 2);
    border-radius: 16px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    &__hero {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      gap: calc(var(--view) * 2);
      padding-left: calc(var(--view) * 1);
    }

    &__main {
      margin: calc(var(--view) * 1) 0;
    }

    &__footer {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: flex-end;

      & p {
        font-size: calc(var(--view) * 1.1);
        font-weight: 600;
        line-height: 1;
      }

      & div {
        color: var(--yellow);
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.mat-icon {
  transform: scale(1);
  font-size: calc(var(--view) * 1.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
