<article>
  <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
    <h2>
      <em>Experiencia de </em>
      <br />
      <em>nuestros clientes</em>
    </h2>
  </div>
  <div class="box">
    @defer (when experiences$) {
      @for (experience of experiences$ | async; track $index) {
        <div class="box-card" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="100">
          <div class="box-card__hero">
            <img [src]="experience.image" [alt]="'Fotografia de ' + experience.name" />
            <div>
              <h3>{{ experience.name }}</h3>
              <p>{{ experience.count }} reseñas - {{ experience.photos }} fotos</p>
            </div>
          </div>

          <div class="box-card__main">
            <p>
              {{ experience.description }}
            </p>
          </div>

          <div class="box-card__footer">
            <p>{{ experience.time }}</p>
            <div>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </div>
          </div>
        </div>
      }
    }
  </div>
</article>
