<article>
  <div class="title" >
    <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">Somos Terraz</h2>
    <h3 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="150">NUESTRA EMPRESA</h3>
  </div>

  @for (item of aboutUs; track $index) {
    @if($index % 2 === 0){
      <div class="box" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
        <div class="box-title">
          <mat-icon [class]="'color' + $index">radio_button_checked</mat-icon>
          <strong>{{ item.title }}</strong>
        </div>
        <p>{{ item.description }}</p>
      </div>
    } @else {
      <div class="box" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="100">
        <div class="box-title">
          <mat-icon [class]="'color' + $index">radio_button_checked</mat-icon>
          <strong>{{ item.title }}</strong>
        </div>
        <p>{{ item.description }}</p>
      </div>
    }
    
  }
</article>
