<article>
  <div class="title"  data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
    <h2>Somos Terraz</h2>
    <h3>NUESTRA EMPRESA</h3>
  </div>

  @for (item of aboutUs; track $index) {
    <div class="box"  data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
      <div class="box-title">
        <mat-icon [class]="'color' + $index">radio_button_checked</mat-icon>
        <strong>{{ item.title }}</strong>
      </div>
      <p>{{ item.description }}</p>
    </div>
  }
</article>
