.box {
  display: grid;
  grid-template-rows: max-content 1fr;
  padding: calc(var(--view) * 1.5);
  padding: calc(var(--view) * 1);
  height: var(--height);
  gap: calc(var(--view) * 1);
}

header,
main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;

  & button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  & mat-icon {
    transform: scale(1);
    color: var(--persian);
  }
}

main {
  display: grid;
  grid-template-columns: calc(var(--view) * 24) 1fr;
  grid-template-rows: 0.9fr;
  gap: 48px;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--view) * 2);
  }
}

h1,
h2 {
  color: var(--persian);
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: calc(var(--view) * 2.25);
  margin-bottom: calc(var(--view) * 1);
}

h2 {
  font-size: calc(var(--view) * 1.1);
  padding-right: calc(var(--view) * 1);
}

h3 {
  font-size: calc(var(--view) * 1.25);
  font-weight: 700;
  color: var(--nordic);
}

p {
  color: var(--nordic);
  font-size: calc(var(--view) * 1.4);
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 1px;
  width: 100%;
}

button {
  text-decoration: none;
  color: var(--nordic);
  font-size: 1rem;
  font-weight: 500;
  border: solid 2px var(--nordic);
  border-radius: 7px;
  padding: 0.3rem 0.5rem;
  max-width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: var(--nordic);
    color: var(--white);
  }
}
