article {
  display: grid;
  align-items: center;
  gap: calc(var(--view) * 2);
}

.video {
  display: flex;
  // margin-top: 3rem;
}

video {
  background-color: var(--nordic);
  object-fit: contain;
  width: auto;
  max-width: 100%;
  max-height: calc(var(--height) * 0.6);
  border-radius: 7px;
  padding: 5px;
  margin: 0 auto;
}
