<article>
  <div>
    <div class="title">
      <h2>Atención personalizada</h2>
      <h3>ESCRIBINOS</h3>
    </div>
    <p>
      Somos la única empresa en el país en financiar tu casa o departamento hasta en 15 años, en pesos y con coeficiente
      de variación salarial (CVS).
    </p>
    <br />
    <p><em>Planes ajustados a tus posibilidades</em></p>
  </div>
  <div class="video">
    @defer {
      <video muted loop #video controls src="assets/videos/video.mp4">
        <source type="video/mp4" />
        Tu navegador no admite el elemento <code>video</code>.
      </video>
    }
  </div>
</article>
