header,
main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  padding: calc(var(--view) * 1);
  display: grid;
  grid-template-columns: max-content 1fr max-content;

  & button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    & mat-icon {
      font-size: calc(var(--view) * 1.2);
      color: var(--persian);
    }
  }
}

h1,
h2 {
  color: var(--persian);
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: calc(var(--view) * 2.25);
  margin-bottom: calc(var(--view) * 1);
}

h2 {
  font-size: calc(var(--view) * 1.1);
  padding-right: calc(var(--view) * 1);
}

h3 {
  font-size: calc(var(--view) * 1.25);
  font-weight: 600;
  color: var(--nordic);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--view) * 3);
  padding: calc(var(--view) * 1) calc(var(--view) * 3);
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  gap: calc(var(--view) * 1);

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

button {
  text-decoration: none;
  color: var(--nordic);
  font-size: 1rem;
  font-weight: 500;
  border: solid 2px var(--nordic);
  border-radius: 7px;
  padding: 0.3rem 0.5rem;
  max-width: fit-content;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: var(--nordic);
    color: var(--white);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
