header {
  padding: 16px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;

  & button {
    border: none;
    background-color: transparent;

    & mat-icon {
      font-size: 12px;
      color: var(--persian);
    }
  }
}

h1,
h2,
h3 {
  color: var(--persian);
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  color: var(--nordic);
  margin: 12px 0;
}

main {
  padding: 16px;
  display: grid;
  gap: 16px;
}

article {
  display: grid;
  grid-template-rows: 1fr max-content;

  & div button {
    text-decoration: none;
    color: var(--nordic);
    font-size: 14px;
    font-weight: 600;
    border: solid 1px var(--nordic);
    border-radius: 4px;
    padding: 4px 8px;
    max-width: fit-content;
    background-color: transparent;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
